openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Api
  version: 1.29.1
servers:
- url: https://api.twilio.com
paths:
  /2010-04-01/Accounts.json:
    description: Twilio accounts (aka Project) or subaccounts
    get:
      description: Retrieves a collection of Accounts belonging to the account used
        to make the request
      operationId: ListAccount
      parameters:
      - description: Only return the Account resources with friendly names that exactly
          match this name.
        explode: true
        in: query
        name: FriendlyName
        required: false
        schema:
          type: string
        style: form
      - description: "Only return Account resources with the given status. Can be\
          \ `closed`, `suspended` or `active`."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          enum:
          - active
          - suspended
          - closed
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountResponse'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    post:
      description: Create a new Twilio Subaccount from the account making the request
      operationId: CreateAccount
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account'
          description: Created
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - status
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/Addresses.json:
    description: "An Address instance resource represents your or your customer's\
      \ physical location within a country. Around the world, some local authorities\
      \ require the name and address of the user to be on file with Twilio to purchase\
      \ and own a phone number."
    get:
      description: ""
      operationId: ListAddress
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that is responsible for the Address resource to read."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The `customer_name` of the Address resources to read.
        explode: true
        in: query
        name: CustomerName
        required: false
        schema:
          type: string
        style: form
      - description: The string that identifies the Address resources to read.
        explode: true
        in: query
        name: FriendlyName
        required: false
        schema:
          type: string
        style: form
      - description: The ISO country code of the Address resources to read.
        explode: true
        in: query
        name: IsoCountry
        required: false
        schema:
          format: iso-country-code
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAddressResponse'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    post:
      description: ""
      operationId: CreateAddress
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that will be responsible for the new Address resource."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAddressRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.address'
          description: Created
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - validated
      - verified
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/Addresses/{AddressSid}/DependentPhoneNumbers.json:
    description: Phone numbers dependent on an Address resource
    get:
      description: ""
      operationId: ListDependentPhoneNumber
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the DependentPhoneNumber resources to read."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Address resource associated with the phone number.
        explode: false
        in: path
        name: AddressSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDependentPhoneNumberResponse'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - phone_number
      - friendly_name
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/Addresses/{Sid}.json:
    delete:
      description: ""
      operationId: DeleteAddress
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that is responsible for the Address resource to delete."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Address
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    description: "An Address instance resource represents your or your customer's\
      \ physical location within a country. Around the world, some local authorities\
      \ require the name and address of the user to be on file with Twilio to purchase\
      \ and own a phone number."
    get:
      description: ""
      operationId: FetchAddress
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that is responsible for the Address resource to fetch."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Address
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.address'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    post:
      description: ""
      operationId: UpdateAddress
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that is responsible for the Address resource to update."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Address
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateAddressRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.address'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - validated
      - verified
      pathType: instance
  /2010-04-01/Accounts/{AccountSid}/Applications.json:
    description: An Application instance resource represents an application that you
      have created with Twilio. An application inside of Twilio is just a set of URLs
      and other configuration data that tells Twilio how to behave when one of your
      Twilio numbers receives a call or SMS message.
    get:
      description: Retrieve a list of applications representing an application within
        the requesting account
      operationId: ListApplication
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the Application resources to read."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The string that identifies the Application resources to read.
        explode: true
        in: query
        name: FriendlyName
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApplicationResponse'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    post:
      description: Create a new application within your account
      operationId: CreateApplication
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that will create the resource."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.application'
          description: Created
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/Applications/{Sid}.json:
    delete:
      description: Delete the application by the specified application sid
      operationId: DeleteApplication
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the Application resources to delete."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Application
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AP[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    description: An Application instance resource represents an application that you
      have created with Twilio. An application inside of Twilio is just a set of URLs
      and other configuration data that tells Twilio how to behave when one of your
      Twilio numbers receives a call or SMS message.
    get:
      description: Fetch the application specified by the provided sid
      operationId: FetchApplication
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the Application resource to fetch."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Application
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AP[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.application'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    post:
      description: Updates the application's properties
      operationId: UpdateApplication
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the Application resources to update."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Application
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AP[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateApplicationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.application'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      pathType: instance
  /2010-04-01/Accounts/{AccountSid}/AuthorizedConnectApps.json:
    description: Authorized Twilio Connect apps
    get:
      description: Retrieve a list of authorized-connect-apps belonging to the account
        used to make the request
      operationId: ListAuthorizedConnectApp
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the AuthorizedConnectApp resources to read."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuthorizedConnectAppResponse'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - connect_app_sid
      - connect_app_friendly_name
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/AuthorizedConnectApps/{ConnectAppSid}.json:
    description: Authorized Twilio Connect apps
    get:
      description: Fetch an instance of an authorized-connect-app
      operationId: FetchAuthorizedConnectApp
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the AuthorizedConnectApp resource to fetch."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The SID of the Connect App to fetch.
        explode: false
        in: path
        name: ConnectAppSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.authorized_connect_app'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - connect_app_sid
      - connect_app_friendly_name
      pathType: instance
  /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers.json:
    description: Country codes with available phone numbers
    get:
      description: ""
      operationId: ListAvailablePhoneNumberCountry
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the available phone number Country resources."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberCountryResponse'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      className: available_phone_number_country
      defaultOutputProperties:
      - country_code
      - country
      - beta
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json:
    description: Country codes with available phone numbers
    get:
      description: ""
      operationId: FetchAvailablePhoneNumberCountry
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the available phone number Country resource."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country to fetch available phone number information\
          \ about."
        explode: false
        in: path
        name: CountryCode
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.available_phone_number_country'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      className: available_phone_number_country
      defaultOutputProperties:
      - country_code
      - country
      - beta
      pathType: instance
  /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/Local.json:
    description: Available local phone numbers
    get:
      description: ""
      operationId: ListAvailablePhoneNumberLocal
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers."
        explode: false
        in: path
        name: CountryCode
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      - description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada.
        explode: true
        in: query
        name: AreaCode
        required: false
        schema:
          type: integer
        style: form
      - description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumberlocal-resource?code-sample=code-find-phone-numbers-by-number-pattern)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumberlocal-resource?code-sample=code-find-phone-numbers-by-character-pattern).\
          \ If specified, this value must have at least two characters."
        explode: true
        in: query
        name: Contains
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: SmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: MmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: VoiceEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeAllAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeLocalAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeForeignAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`."
        explode: true
        in: query
        name: Beta
        required: false
        schema:
          type: boolean
        style: form
      - description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: NearNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada."
        explode: true
        in: query
        name: NearLatLong
        required: false
        schema:
          type: string
        style: form
      - description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada."
        explode: true
        in: query
        name: Distance
        required: false
        schema:
          type: integer
        style: form
      - description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: InPostalCode
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRegion
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRateCenter
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InLata
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number."
        explode: true
        in: query
        name: InLocality
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: FaxEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberLocalResponse'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - phone_number
      - region
      - beta
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/MachineToMachine.json:
    description: Available machine-to-machine phone numbers
    get:
      description: ""
      operationId: ListAvailablePhoneNumberMachineToMachine
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers."
        explode: false
        in: path
        name: CountryCode
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      - description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada.
        explode: true
        in: query
        name: AreaCode
        required: false
        schema:
          type: integer
        style: form
      - description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3).\
          \ If specified, this value must have at least two characters."
        explode: true
        in: query
        name: Contains
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: SmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: MmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: VoiceEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeAllAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeLocalAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeForeignAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`."
        explode: true
        in: query
        name: Beta
        required: false
        schema:
          type: boolean
        style: form
      - description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: NearNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada."
        explode: true
        in: query
        name: NearLatLong
        required: false
        schema:
          type: string
        style: form
      - description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada."
        explode: true
        in: query
        name: Distance
        required: false
        schema:
          type: integer
        style: form
      - description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: InPostalCode
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRegion
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRateCenter
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InLata
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number."
        explode: true
        in: query
        name: InLocality
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: FaxEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberMachineToMachineResponse'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - phone_number
      - region
      - beta
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/Mobile.json:
    description: Available mobile phone numbers
    get:
      description: ""
      operationId: ListAvailablePhoneNumberMobile
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers."
        explode: false
        in: path
        name: CountryCode
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      - description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada.
        explode: true
        in: query
        name: AreaCode
        required: false
        schema:
          type: integer
        style: form
      - description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3).\
          \ If specified, this value must have at least two characters."
        explode: true
        in: query
        name: Contains
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: SmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: MmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: VoiceEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeAllAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeLocalAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeForeignAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`."
        explode: true
        in: query
        name: Beta
        required: false
        schema:
          type: boolean
        style: form
      - description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: NearNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada."
        explode: true
        in: query
        name: NearLatLong
        required: false
        schema:
          type: string
        style: form
      - description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada."
        explode: true
        in: query
        name: Distance
        required: false
        schema:
          type: integer
        style: form
      - description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: InPostalCode
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRegion
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRateCenter
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InLata
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number."
        explode: true
        in: query
        name: InLocality
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: FaxEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberMobileResponse'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - phone_number
      - region
      - beta
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/National.json:
    description: Available national phone numbers
    get:
      description: ""
      operationId: ListAvailablePhoneNumberNational
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers."
        explode: false
        in: path
        name: CountryCode
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      - description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada.
        explode: true
        in: query
        name: AreaCode
        required: false
        schema:
          type: integer
        style: form
      - description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3).\
          \ If specified, this value must have at least two characters."
        explode: true
        in: query
        name: Contains
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: SmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: MmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: VoiceEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeAllAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeLocalAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeForeignAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`."
        explode: true
        in: query
        name: Beta
        required: false
        schema:
          type: boolean
        style: form
      - description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: NearNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada."
        explode: true
        in: query
        name: NearLatLong
        required: false
        schema:
          type: string
        style: form
      - description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada."
        explode: true
        in: query
        name: Distance
        required: false
        schema:
          type: integer
        style: form
      - description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: InPostalCode
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRegion
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRateCenter
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InLata
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number."
        explode: true
        in: query
        name: InLocality
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: FaxEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberNationalResponse'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - phone_number
      - region
      - beta
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/SharedCost.json:
    description: Available shared cost numbers
    get:
      description: ""
      operationId: ListAvailablePhoneNumberSharedCost
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers."
        explode: false
        in: path
        name: CountryCode
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      - description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada.
        explode: true
        in: query
        name: AreaCode
        required: false
        schema:
          type: integer
        style: form
      - description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3).\
          \ If specified, this value must have at least two characters."
        explode: true
        in: query
        name: Contains
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: SmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: MmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: VoiceEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeAllAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeLocalAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeForeignAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`."
        explode: true
        in: query
        name: Beta
        required: false
        schema:
          type: boolean
        style: form
      - description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: NearNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada."
        explode: true
        in: query
        name: NearLatLong
        required: false
        schema:
          type: string
        style: form
      - description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada."
        explode: true
        in: query
        name: Distance
        required: false
        schema:
          type: integer
        style: form
      - description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: InPostalCode
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRegion
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRateCenter
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InLata
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number."
        explode: true
        in: query
        name: InLocality
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: FaxEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberSharedCostResponse'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - phone_number
      - region
      - beta
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/TollFree.json:
    description: Available toll free phone numbers
    get:
      description: ""
      operationId: ListAvailablePhoneNumberTollFree
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers."
        explode: false
        in: path
        name: CountryCode
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      - description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada.
        explode: true
        in: query
        name: AreaCode
        required: false
        schema:
          type: integer
        style: form
      - description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3).\
          \ If specified, this value must have at least two characters."
        explode: true
        in: query
        name: Contains
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: SmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: MmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: VoiceEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeAllAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeLocalAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeForeignAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`."
        explode: true
        in: query
        name: Beta
        required: false
        schema:
          type: boolean
        style: form
      - description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: NearNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada."
        explode: true
        in: query
        name: NearLatLong
        required: false
        schema:
          type: string
        style: form
      - description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada."
        explode: true
        in: query
        name: Distance
        required: false
        schema:
          type: integer
        style: form
      - description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: InPostalCode
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRegion
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRateCenter
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InLata
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number."
        explode: true
        in: query
        name: InLocality
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: FaxEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberTollFreeResponse'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - phone_number
      - region
      - beta
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}/Voip.json:
    description: Available VoIP phone numbers
    get:
      description: ""
      operationId: ListAvailablePhoneNumberVoip
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers."
        explode: false
        in: path
        name: CountryCode
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      - description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada.
        explode: true
        in: query
        name: AreaCode
        required: false
        schema:
          type: integer
        style: form
      - description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3).\
          \ If specified, this value must have at least two characters."
        explode: true
        in: query
        name: Contains
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: SmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`."
        explode: true
        in: query
        name: MmsEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: VoiceEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeAllAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeLocalAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`."
        explode: true
        in: query
        name: ExcludeForeignAddressRequired
        required: false
        schema:
          type: boolean
        style: form
      - description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`."
        explode: true
        in: query
        name: Beta
        required: false
        schema:
          type: boolean
        style: form
      - description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: NearNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada."
        explode: true
        in: query
        name: NearLatLong
        required: false
        schema:
          type: string
        style: form
      - description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada."
        explode: true
        in: query
        name: Distance
        required: false
        schema:
          type: integer
        style: form
      - description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada."
        explode: true
        in: query
        name: InPostalCode
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRegion
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InRateCenter
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada."
        explode: true
        in: query
        name: InLata
        required: false
        schema:
          type: string
        style: form
      - description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number."
        explode: true
        in: query
        name: InLocality
        required: false
        schema:
          type: string
        style: form
      - description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`."
        explode: true
        in: query
        name: FaxEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberVoipResponse'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - phone_number
      - region
      - beta
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/Balance.json:
    description: Account balance
    get:
      description: Fetch the balance for an Account based on Account Sid. Balance
        changes may not be reflected immediately. Child accounts do not contain balance
        information
      operationId: FetchBalance
      parameters:
      - description: The unique SID identifier of the Account.
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.balance'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - balance
      - currency
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/Calls.json:
    description: A Call is an object that represents a connection between a telephone
      and Twilio.
    get:
      description: Retrieves a collection of calls made to and from your account
      operationId: ListCall
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the Call resource(s) to read."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Only show calls made to this phone number, SIP address, Client\
          \ identifier or SIM SID."
        explode: true
        in: query
        name: To
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: "Only include calls from this phone number, SIP address, Client\
          \ identifier or SIM SID."
        explode: true
        in: query
        name: From
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      - description: Only include calls spawned by calls with this SID.
        explode: true
        in: query
        name: ParentCallSid
        required: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CA[0-9a-fA-F]{32}$"
          type: string
        style: form
      - description: "The status of the calls to include. Can be: `queued`, `ringing`,\
          \ `in-progress`, `canceled`, `completed`, `failed`, `busy`, or `no-answer`."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          enum:
          - queued
          - ringing
          - in-progress
          - completed
          - busy
          - failed
          - no-answer
          - canceled
          type: string
        style: form
      - description: "Only include calls that started on this date. Specify a date\
          \ as `YYYY-MM-DD` in GMT, for example: `2009-07-06`, to read only calls\
          \ that started on this date. You can also specify an inequality, such as\
          \ `StartTime<=YYYY-MM-DD`, to read calls that started on or before midnight\
          \ of this date, and `StartTime>=YYYY-MM-DD` to read calls that started on\
          \ or after midnight of this date."
        explode: true
        in: query
        name: StartTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only include calls that started on this date. Specify a date\
          \ as `YYYY-MM-DD` in GMT, for example: `2009-07-06`, to read only calls\
          \ that started on this date. You can also specify an inequality, such as\
          \ `StartTime<=YYYY-MM-DD`, to read calls that started on or before midnight\
          \ of this date, and `StartTime>=YYYY-MM-DD` to read calls that started on\
          \ or after midnight of this date."
        explode: true
        in: query
        name: StartTime<
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only include calls that started on this date. Specify a date\
          \ as `YYYY-MM-DD` in GMT, for example: `2009-07-06`, to read only calls\
          \ that started on this date. You can also specify an inequality, such as\
          \ `StartTime<=YYYY-MM-DD`, to read calls that started on or before midnight\
          \ of this date, and `StartTime>=YYYY-MM-DD` to read calls that started on\
          \ or after midnight of this date."
        explode: true
        in: query
        name: StartTime>
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only include calls that ended on this date. Specify a date as\
          \ `YYYY-MM-DD` in GMT, for example: `2009-07-06`, to read only calls that\
          \ ended on this date. You can also specify an inequality, such as `EndTime<=YYYY-MM-DD`,\
          \ to read calls that ended on or before midnight of this date, and `EndTime>=YYYY-MM-DD`\
          \ to read calls that ended on or after midnight of this date."
        explode: true
        in: query
        name: EndTime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only include calls that ended on this date. Specify a date as\
          \ `YYYY-MM-DD` in GMT, for example: `2009-07-06`, to read only calls that\
          \ ended on this date. You can also specify an inequality, such as `EndTime<=YYYY-MM-DD`,\
          \ to read calls that ended on or before midnight of this date, and `EndTime>=YYYY-MM-DD`\
          \ to read calls that ended on or after midnight of this date."
        explode: true
        in: query
        name: EndTime<
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only include calls that ended on this date. Specify a date as\
          \ `YYYY-MM-DD` in GMT, for example: `2009-07-06`, to read only calls that\
          \ ended on this date. You can also specify an inequality, such as `EndTime<=YYYY-MM-DD`,\
          \ to read calls that ended on or before midnight of this date, and `EndTime>=YYYY-MM-DD`\
          \ to read calls that ended on or after midnight of this date."
        explode: true
        in: query
        name: EndTime>
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCallResponse'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    post:
      description: "Create a new outgoing call to phones, SIP-enabled endpoints or\
        \ Twilio Client connections"
      operationId: CreateCall
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that will create the resource."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCallRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.call'
          description: Created
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - from
      - to
      - status
      - start_time
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/Calls/FeedbackSummary.json:
    description: Call FeedbackSummary resources provide an idea of how your end user's
      perceive the quality of their calls and the most common issues they have encountered
      in the context of all your voice traffic during a specific time frame.
    post:
      description: Create a FeedbackSummary resource for a call
      operationId: CreateCallFeedbackSummary
      parameters:
      - description: "The unique id of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ responsible for this resource."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCallFeedbackSummaryRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.call.call_feedback_summary'
          description: Created
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - call_feedback_count
      - quality_score_average
      - start_date
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/Calls/FeedbackSummary/{Sid}.json:
    delete:
      description: Delete a FeedbackSummary resource from a call
      operationId: DeleteCallFeedbackSummary
      parameters:
      - description: "The unique id of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ responsible for this resource."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    description: Call FeedbackSummary resources provide an idea of how your end user's
      perceive the quality of their calls and the most common issues they have encountered
      in the context of all your voice traffic during a specific time frame.
    get:
      description: Fetch a FeedbackSummary resource from a call
      operationId: FetchCallFeedbackSummary
      parameters:
      - description: "The unique id of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ responsible for this resource."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: A 34 character string that uniquely identifies this resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.call.call_feedback_summary'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - call_feedback_count
      - quality_score_average
      - start_date
      pathType: instance
  /2010-04-01/Accounts/{AccountSid}/Calls/{CallSid}/Events.json:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all events for a call.
      operationId: ListCallEvent
      parameters:
      - description: The unique SID identifier of the Account.
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique SID identifier of the Call.
        explode: false
        in: path
        name: CallSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCallEventResponse'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - request
      - response
      pathType: list
  /2010-04-01/Accounts/{AccountSid}/Calls/{CallSid}/Feedback.json:
    description: The call Feedback subresource describes the quality experienced during
      a phone call.
    get:
      description: Fetch a Feedback resource from a call
      operationId: FetchCallFeedback
      parameters:
      - description: "The unique id of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ responsible for this resource."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The call sid that uniquely identifies the call
        explode: false
        in: path
        name: CallSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.call.call_feedback'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    post:
      description: Update a Feedback resource for a call
      operationId: UpdateCallFeedback
      parameters:
      - description: "The unique id of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ responsible for this resource."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The call sid that uniquely identifies the call
        explode: false
        in: path
        name: CallSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateCallFeedbackRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.v2010.account.call.call_feedback'
          description: OK
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - quality_score
      - date_created
      pathType: instance
  /2010-04-01/Accounts/{AccountSid}/Calls/{CallSid}/Notifications.json:
    description: Error notifications for calls
    get:
      description: ""
      operationId: ListCallNotification
      parameters:
      - description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the Call Notification resources to read."
        explode: false
        in: path
        name: AccountSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The [Call](https://www.twilio.com/docs/voice/api/call-resource)\
          \ SID of the Call Notification resources to read."
        explode: false
        in: path
        name: CallSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CA[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "Only read notifications of the specified log level. Can be:\
[...]
